
.progress-container {
    margin: 1.6em -15px;
}

.progress-wrap h3 {
    font-family: "Gilroy-Light";
    font-size: 24px;
    margin-bottom: 10px;
    color: #353535;
 }
  
.progress {
    height: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f2f3f7;
    margin: 24px 0;
    overflow: visible;
 }
  
.progress-bar {
    background: #E04343;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    line-height: 1.2;
    color: #000;
    font-weight: 600;
    text-align: right;
    position: relative;
    overflow: visible;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
 }

.progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: '';
    background: #E04343;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; 
}

.progress-bar span {
    position: absolute;
    top: -22px;
    right: 0;
} 



/* Timeline */

.timeline-centered {
    position: relative;
    margin: 2em 0; }
  
  .timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table; }
  
  .timeline-centered:after {
    clear: both; }
  
  .timeline-centered:before, .timeline-centered:after {
    content: " ";
    display: table; }
  
  .timeline-centered:after {
    clear: both; }
  
  .timeline-centered:before {
    content: '';
    position: absolute;
    display: block;
    width: 4px;
    background: #f2f3f7;
    top: 20px;
    bottom: 20px;
    margin-left: 29px; }
  
  .timeline-centered .timeline-entry {
    position: relative;
    margin-top: 34px;
    margin-left: 30px;
    margin-bottom: 54px;
    clear: both; }
  
  .timeline-centered .timeline-entry .timeline-entry-inner {
    position: relative;
    margin-left: -20px; }
  
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon {
    display: block;
    width: 40px;
    height: 40px;
    background: #2c98f0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    -moz-box-shadow: 0 0 0 5px #f2f3f7;
    -webkit-box-shadow: 0 0 0 5px #f2f3f7;
    box-shadow: 0 0 0 5px #f2f3f7;
    line-height: 40px;
    float: left; }
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon i {
      color: #fff; }
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-2 {
      background: #ec5453; }
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-3 {
      background: #f9bf3f; }
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-4 {
      background: #a84cb8; }
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-5 {
      background: #2fa499; }
    .timeline-centered .timeline-entry .timeline-entry-inner .timeline-icon.color-none {
      background: #fff;
      width: 20px;
      height: 20px;
      margin-left: 10px; }
  
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label {
    position: relative;
    background: #f2f3f7;
    padding: 1.2em;
    margin-left: 60px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box; }
  
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 9px 9px 0;
    border-color: transparent #f2f3f7 transparent transparent;
    left: 0;
    top: 10px;
    margin-left: -9px; }
  
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p + p {
    margin-top: 15px; }
  
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 {
    font-family: "Gilroy-ExtraBold";
    font-size: 24px;
    color: #353535;
    margin: 0 0;
    text-transform: none;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2::after {
    display: none;
    content: none;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h3 {
    font-family: "Gilroy-ExtraBold";
    font-size: 22px;
    color: #808080;
    margin: 0 0;
    padding: 10px 0;
  }

  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label p {
    font-family: "Gilroy-Light";
    font-size: 18px;
    color: #4d4b4b;
    margin: 0 0;
    line-height: 24px!important;
}
  
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h3 a {
    color: #000; }
  
  .timeline-centered .timeline-entry .timeline-entry-inner .timeline-label h2 span {
    font-family: "Gilroy-Light";
    font-style: italic;
    -webkit-opacity: .7;
    -moz-opacity: .7;
    opacity: .7;
    -ms-filter: alpha(opacity=70);
    filter: alpha(opacity=70);
    font-size: 16px; 
}