
.progress-container {
    margin: 1.6em -15px;
}

.progress-wrap h3 {
    font-family: "Gilroy-Light";
    font-size: 24px;
    margin-bottom: 10px;
    color: #353535;
 }
  
.progress {
    height: 6px;
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #f2f3f7;
    margin: 24px 0;
    overflow: visible;
 }
  
.progress-bar {
    background: #E04343;
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 12px;
    line-height: 1.2;
    color: #000;
    font-weight: 600;
    text-align: right;
    position: relative;
    overflow: visible;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    border-radius: 8px;
 }

.progress-bar:after {
    position: absolute;
    top: -2px;
    right: 0;
    width: 10px;
    height: 10px;
    content: '';
    background: #E04343;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%; 
}

.progress-bar span {
    position: absolute;
    top: -22px;
    right: 0;
} 



.work-card {
    padding: 0 0;
    height: 240px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.work-card img {
    display: flex;
    overflow: hidden;
    flex-shrink: 0;
    height: auto;
    max-width: 240px;
}

.work-card span {
    font-family: "Gilroy-Light";
    font-style: italic;
    font-size: 17px;
}

.work-card h3 {
    font-family: "Gilroy-Light";
    font-weight: bold;
    font-size: 23px;
}

.work-card h4 {
    font-family: "Gilroy-Light";
    font-weight: bold;
    font-size: 19px;
}



.projects-card {
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04), 0 10px 24px 0 rgba(0, 0, 0, 0.02);
    margin: 24px 0;
    transition: 0.4s;
    padding: 0 0;
}

.projects-card img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    vertical-align: bottom;
}

.projects-card h3 {
    font-family: "Gilroy-ExtraBold";
    font-size: 32px;
    margin-bottom: 12px;
}

.projects-card p {
    font-family: "Gilroy-Light";
    color: #353535;
    margin-top: 0;
}

.projects-card:hover {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.04), 0 10px 24px 0 rgba(0, 0, 0, 0.02);
    transform: scale(1.04, 1.04);
}


footer {
    font-family: "Gilroy-Light";
    padding:40px 0 30px;
}


footer span {
    font-weight: bold;
    font-size: 16px;
}

footer p {
    line-height: 19px!important;
    font-size: 14px;
}

footer a {
    color:#a1a9b0;
    border-bottom: 1px dotted;
}